@{
    Layout = "Pizza/_Layout";
    ViewData["Title"] = "Pizza Details";
}

@model Pizza;

<div class="container-fluid">
    <div class="card">
        <img src="@(Model.ImgPath == "" ? $"https://source.unsplash.com/random/200×200/?pizza,{Model.PizzaId}": Model.ImgPath)" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <h6>&euro;</h6>@Model.Price</li>
        <li class="list-group-item"><h6>Image Path: </h6>@Model.ImgPath</li>
        <li class="list-group-item"><h6>Slug: </h6>@Model.Slug</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Modify</a>
        <a href="#" class="card-link">Delete</a>
      </div>
    </div>
</div>