@{
    Layout = "Admin/_Layout";
}

@section Style {
    <link href="~/css/Admin/style.css" rel="stylesheet" />
}

@model Pizza;
<h1 class="text-center display-3">@Model.Name Details</h1>

<div class="container-fluid">
    <div class="card">
        <img src="@Model.ImgPath" class="card-img-top img-fluid pizza-img" alt="ceci n'est past une pizza">
      <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <span class="fs-6">&euro;</span>@Model.Price</li>
            @if(Model.ImgPath != "")
            {
                <li class="list-group-item"><span class="fs-6">Image Path: </span>@Model.ImgPath</li>
            }
            <li class="list-group-item"><span class="fs-6">Slug: </span>@Model.Slug</li>
      </ul>
      <div class="card-body d-flex justify-content-center g-3">
        <a href="@Url.Action("Edit","Pizza", new {slug = Model.Slug})" class="btn btn-warning px-3 me-2">
            Modify <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <form asp-action="Delete" asp-route-slug="@Model.Slug" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger btn-sweet-delete px-3 me-2">
                Delete <i class="fa-solid fa-trash"></i>
            </button>
        </form>
        <a class="btn btn-primary" href="@Url.Action("Index","Pizza")">Return to List</a>
      </div>
    </div>
</div>

<partial name="Admin/Partials/_PizzaDeleteModal" />

@section Scripts {
    <script src="~/js/sweet-delete.js"></script>
}