@{
    Layout = "Pizza/_Layout";
    ViewData["Title"] = "Pizza Details";
}

@model Pizza;

<div class="container-fluid">
    <div class="card">
        <img src="@(Model.ImgPath == "" ? $"https://source.unsplash.com/random/500x200/?pizza,{Model.PizzaId}": Model.ImgPath)" class="card-img-top img-fluid" alt="ceci n'est past une pizza'">
      <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <span class="fs-6">&euro;</span>@Model.Price</li>
            @if(Model.ImgPath != "")
            {
                <li class="list-group-item"><span class="fs-6">Image Path: </span>@Model.ImgPath</li>
            }
            <li class="list-group-item"><span class="fs-6">Slug: </span>@Model.Slug</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-warning me-2" href="#">Modify</a>
            <a class="btn btn-danger me-2" href="#">Delete</a>
            <a class="btn btn-primary me-2" href="@Url.Action("Index","Pizza")">Return to Pizza List</a>
      </div>
    </div>
</div>